.myBtn{
    padding: 8px 20px;
    color: #fff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    font-weight: 700;
    font-size: 1.2rem;
    width: fit-content;
    text-transform: uppercase;
}

.myBtn:hover {
    background: white;
    color: #242424;
    transition: all 0.3s ease-out;
}