.tours__title {
    text-align: center;
    margin: 15px;
    color: #242424;
    font-size: 100px;
}

.tours__list {
    min-height: 100vh;
}

.tours__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tours__card {
    margin: 20px 10px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .tours__title {
        font-size: 50px;
    }

}