header {
    position: sticky;
    top:0;
    z-index: 999;
    font-size: 25px;
}

.navigation {
    padding: 0 10%;
    background: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.navigation__logo {
    color: white;
}

.navigation__links {
    display: flex;
}

.navigation__links > li {
    padding: 20px;
}

.navigation__link {
    color: white;

}

@media screen and (max-width: 768px) and (min-width: 320px) {
   .navigation {
       padding: 0 5%;
       font-size: 15px;
       justify-content: center;
   }

    .navigation__links > li {
        padding: 10px;
    }

}
